.entry-home {
  .room-summary {
    min-width: 240px;
    position: relative;
    bottom: 25px;
  }
  .main-title {
    width:96px;
    height:33px;
    font-size:24px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:33px;
  }
  .subtitle-md {
    min-height:20px;
    font-size:14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
  }
  .subtitle {
    width:238px;
    height:14px;
    font-size:12px;
    font-family:HelveticaNeue;
    color:rgba(102,102,102,1);
    line-height:14px;
  }
}